// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Raleway', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




/// Main brand color
/// @type Color
//$brand-color: #5D5AFD !default;
$brand-color: #446CB3 !default;

/// Copy text color
/// @type Color
$text-color: #2f4858 !default;

/// Link color
/// @type Color
$link-color: $brand-color !default;

/// Link color:hover
/// @type Color
$link-hover-color: $brand-color !default;

/// Darker brand color
/// @type Color
$dark-brand-color: #4d4ad0 !default;

/// Light grey
/// @type Color
$light-grey: #f1f2f6 !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: #333333 !default;


/// Waffle Grid System

// Class names
// Change them to whatever you're used to
$grid-classname: "grid" !default;
$row-classname: "row" !default;
$column-classname: "col" !default;
$container-classname: "container" !default;


// Column amounts, results in:
// .col-n-of-4, or .col-n-of-8
$grid-columns: (4, 8, 12) !default;

// Gutter width
$gutter-width: 20px !default;

// Grid width and max-width.
// It is automatically centered on the page.
$grid-width: 960px !default;
$grid-max-width: 80% !default;

// Pushes and Pulls
$pushes: true !default;
$pulls: true !default;

// Breakpoints. Structure:
// name: (screen-width, column-amounts)
$breakpoints: (
	m: (840px, (4, 6, 8)),
	s: (480px, (4, 6)),
) !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: 'https://zeug.co/test-03-18/assets/' !default;
